<table>
  <h1>All pools</h1>
<h3><% @pools.each do |pool| %></h3>
<h2>Name: <%= pool.name %></h2>
<h2>Location: <%= pool.location %></h2>
<h2>Price: <%= pool.price %>$</h2>
<h2>Number of people: <%= pool.number_of_people %></h2>
<%= link_to 'details', pool, class: "btn btn-primary" %>
<% end %>
</table>
