<h1 class="header">POOLR</h1>

<div class="container">
    <% @pools.each do |pool| %>
  <div class="card">
    <div class="card-body">
      <h5>Name: <%= pool.name %></h5>
      <p>Location: <%= pool.location %></p>
      <p>Price: <%= pool.price %>$</p>
      <p>Number of people: <%= pool.number_of_people %></p>
      <%= link_to 'details', pool, class: "btn btn-primary" %>
    </div>
  </div>
      <% end %>
</div>
