<div class="image-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @pool.photo%>')">
</div>


<div class="container">
  <div class="row show-row">
    <div class="col-12 col-md-6">
      <div class="card">
       <div class="card-body">
        <h3>Pool name: <%= @pool.name %></h3>
        <p>Location: <%= @pool.location %></p>
        <p>Price: <%= @pool.price %>$</p>
        <p>Number of people: <%= @pool.number_of_people %></p>
        <p>Description: <%= @pool.description %></p>
        <%= link_to "Book Pool", pool_bookings_path(@pool.id), method: :post, class: "btn btn-danger" %>
        <%= link_to "View all pools", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
    <div class="col-12 col-md-6">
      <div
      id="map"
      style="width: 100%;
      height: 350px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>

  </div>
</div>




<div class="container">
  <div class="card">
    <h3> Reviews </h3>
    <% @pool.bookings.each do |booking| %>
    <ul>
      <li> <p>Content: <%= booking.review.content %></p> </li>
      <li> <p>Rating: <%= booking.review.rating %></p> </li>
    </ul>
    <% end %>
  </div>
</div>

