<div class="container">
  <div class="show-card m-5">
    <h2> Booking no. <%=@booking.id%> </h2>
    <ul>
      <li> Booking total cost: $<%=@booking.total_amount %></li>
      <li> Booking start date: <%=@booking.start_date %></li>
      <li> Booking end date: <%= @booking.end_date %></li>
      <li> Host name: <%=@booking.user.first_name %> <%=@booking.user.last_name %></li>
      <li> Pool name: <%= @booking.pool.name %></li>
    </ul>
  </div>
  <%# if @booking.review.nil? %>
    <div class="show-card m-5">
      <%= render 'reviewform' %>
    </div>
  <%# end %>
    <div class="show-card m-5" id ="new_review">
      <h4> Your review </h4>
      <ul id ="reviews">
          <% if @booking.review != nil %>
          <li> <%= @booking.review.content %> </li>
          <li> <%= @booking.review.rating %> </li>
          <li> <%= link_to "Edit", edit_review_path(@booking.review.id), class: "btn btn-warning mt-5" %> </li>
          <li> <%= link_to "Delete", review_path(@booking.review.id), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger mb-1" %> </li>
          <% end %>
      </ul>
    </div>
</div>

