<div class="container">
  <div class="show-card m-5">
    <h2> Booking no. <%=@booking.id%> </h2>
    <ul>
      <li> Booking total: <%=@booking.total_amount %></li>
      <li> Booking start date: <%=@booking.start_date %></li>
      <li> Booking end date: <%= @booking.end_date %></li>
      <li> Booking user id: <%=@booking.user_id %></li>
      <li> Booking pool id: <%= @booking.pool_id %></li>
    </ul>
  </div>
  <div class="show-card m-5">
    <h3> Reviews </h3>
    <%= render 'reviewform' %>

    <ul>
      <li> <%= @review.content %> </li>
      <li> <%= @review.rating %> </li>
      <li> Left by: <%= @booking.user.first_name %> <%= @booking.user.last_name %> </li>
    </ul>
  </div>
</div>

