<div class="container">
  <div class="col-8">
    <h2> My reservations </h2>
    <%= @booking.total_amount %>
    <%= @booking.start_date %>
    <%= @booking.end_date %>
    <%= @booking.user_id %>
    <%= @booking.pool_id %>
  </div>
</div>

