<div class="container">
</div><h2> Edit booking </h2>
  <div class="col-10">
    <ul>
      <li> Booking id: <%= @booking.id %> </li>
      <li> Pool name: <%= @booking.pool.name %> </li>
      <li> Pool location: <%= @booking.pool.location.capitalize %> </li>
      <li> Guest name: <%= @booking.user.first_name %> <%= @booking.user.last_name %> </li>
    </ul>
  </div>
<%= render "form" %>

