<div class="container">
   <div class="show-card">
      <h2> My bookings </h2>
      <% @bookings_i_received.each do |booking| %>
      <ul>
        <li> Booking total: <%=booking.total_amount %></li>
        <li> Booking start date: <%=booking.start_date %></li>
        <li> Booking end date: <%=booking.end_date %></li>
        <li> Booking user id: <%=booking.user_id %></li>
        <li> Booking pool id: <%=booking.pool_id %></li>
        <li> <%= link_to "Edit Booking", edit_booking_path(booking.id), method: :post, class: "btn btn-danger mb-1" %> </li>
        <li> <%= link_to "Delete Booking", booking_path(booking.id), method: :destroy, class: "btn btn-danger mb-1" %> </li>

      </ul>
      <% end %>
    </div>
</div>

