<div class="container">
  <div class="col-8">
    <div class="show-card">
      <h2> My bookings </h2>
      <% @bookings_i_received.each do |booking| %>
      <ul>
        <li> Booking total: <%=booking.total_amount %></li>
        <li> Booking start date: <%=booking.start_date %></li>
        <li> Booking end date: <%=booking.end_date %></li>
        <li> Booking user id: <%=booking.user_id %></li>
        <li> Booking pool id: <%=booking.pool_id %></li>
      </ul>
      <h3> Reviews </h3>
      <ul>
        <li> </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>

