<div class="container">
    <div class="show-card">
      <h2> My pools </h2>
      <% @pools_i_own.each do |pool| %>
      <ul data-pool-id="<%= pool.id %>">
        <a href="<%= cl_image_path pool.photo%>" class="href"></a>
        <li> <%= pool.name %> </li>
        <li> About this pool: <%= pool.description %></li>
        <li> Location: <%= pool.location %></li>
        <li> Price: £<%= pool.price %></li>
        <li> Max number of people: <%= pool.number_of_people %></li>
        <li><%= link_to "Add pool", new_pool_path, class: "btn btn-primary mb-1" %></li>
        <li><%= link_to "View pool", pool_path(pool.id), class: "btn btn-primary mb-1" %></li>
        <li><%= link_to "Edit pool", edit_pool_path(pool.id), class: "btn btn-primary mb-1" %></li>
        <li><%= link_to "Delete Pool", pool, data: { confirm: "Are you sure?" }, method: :delete, remote: true, class: "btn btn-danger mb-1" %></li>
      </ul>
      <% end %>
    </div>
</div>

