<div class="container">
  <div class="col-8">
    <div class="show-card">
      <h2> My pools </h2>
      <% @pools_i_own.each do |pool| %>
      <ul>
        <a href="<%= cl_image_path pool.photo%>" class="href"></a>
        <li> Pool name </li>
        <li> Pool description: <%= pool.description %></li>
        <li> Pool location: <%= pool.location %></li>
        <li> Pool price: <%= pool.price %></li>
        <li> Pool number of people: <%= pool.number_of_people %></li>
        <li><%= link_to "Add pool", new_pool_path, class: "btn btn-primary mb-1" %></li>
        <li><%= link_to "View pool", pool_path(pool.id), class: "btn btn-primary mb-1" %></li>
        <li><%= link_to "Edit pool", edit_pool_path(pool.id), class: "btn btn-primary mb-1" %></li>
        <li><%= link_to "Delete pool", pool_path(pool.id), method: :destroy, class: "btn btn-primary mb-1" %></li>
      </ul>
      <h3> Reviews </h3>
      <ul>
        <li> </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>

