<div class="container">
    <div class="show-card">
      <h2> My pools </h2>
      <% @pools_i_own.each do |pool| %>
      <ul data-pool-id="<%= pool.id %>">
        <a href="<%=pool_path(pool.id)%>" class="href">
        <li> <h3> <%= pool.name %> <h3> </li>
        <img src="<%= cl_image_path pool.photo%>" alt="" height="200px"></a>
<!--         <li> Description: <%= pool.description %></li>
        <li> Location: <%= pool.location %></li>
        <li> Price: £<%= pool.price %></li>
        <li> Max number of people: <%= pool.number_of_people %></li> -->
        <div class="row justify-content-around mt-2 mb-2">
          <li><%= link_to "View", pool_path(pool.id), class: "btn btn-primary mb-1" %></li>
          <li><%= link_to "Edit", edit_pool_path(pool.id), class: "btn btn-warning mb-1" %></li>
          <li><%= link_to "Delete", pool, data: { confirm: "Are you sure?" }, method: :delete, remote: true, class: "btn btn-danger mb-1" %></li>
        </div>
      </ul>
      <% end %>
      <div class="row justify-content-around">
        <%= link_to "Add New Pool", new_pool_path, class: "btn btn-primary mb-1" %>
      </div>
    </div>
</div>

