<div class="container">
    <div class="show-card">
      <h2> My reservations </h2>
      <% @bookings_i_made.each do |booking| %>
      <ul>
        <li> Booking total: <%=booking.total_amount %></li>
        <li> Booking start date: <%=booking.start_date %></li>
        <li> Booking end date:" <%= booking.end_date %></li>
        <li> Booking host:" <%=booking.user_id %></li>
        <li> Booking pool:" <%=booking.pool_id %></li>
      </ul>
      <%= link_to "View", booking_path(booking.id), class: "btn btn-primary" %>
      <% end %>
    </div>
</div>

