<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.address %>
</p>

<h1>Reviews</h1>

<% @reviews.each do |review| %>
 <p><%= review.content %></p>
<% end %>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
